/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

@font-face {
    font-family: sofiapro-light;
    src: url('sofiapro-light.otf');
}

.style {
    height: 1500px;
    text-align: center;
}

.style h1,
h2 {
    text-align: center;
}

body {
    background-color: #000000;
    margin: 0;
    font-family: sofiapro-light, sans-serif;
    padding: 0.5rem;
    color: white;
    text-align: center;
}

.element {
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: white;

}


h1 {
    font-family: sofiapro-light, sans-serif;
    font-size: 7em;
    margin-top: 1rem;
}

h2 {
    font-family: sofiapro-light, sans-serif;
    font-size: 2.5em;
    margin-top: 3rem;
    text-align: left;
    padding-left: 3.7rem;
    margin-bottom: 3rem;
}

h3 {
    font-size: 2em;
    margin-top: 1rem;
    font-family: sofiapro-light, sans-serif;
}

h4 {
    font-size: 1.5em;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: sofiapro-light, sans-serif;
}

p {
    margin-top: 0;
}



.logo {
    align-items: center;
}



/* ~~ Top Navigation Bar ~~ */
.main {
    height: 1500px;
}

#navigation-container-sample {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    margin-bottom: 30px;
    padding: 1rem;
    width: auto;
    margin: auto;
    position: relative;
    background-color: white;
    top: 0;
    left: 0;
    height: 100px;

}

.navigation-bar-sample {
    margin-bottom: 30px;
    width: 100%;

    text-align: center;
}

.navigation-bar-sample img {
    float: left;
    margin-top: 10px;
}

.navigation-bar-sample ul {
    padding-right: 15rem;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
}

.navigation-bar-sample li {
    display: inline-block;
    position: relative;
    color: #000000;

    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.navigation-bar-sample li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: 60px;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navigation-bar-sample li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navigation-bar-sample li a {
    color: black;
    font-size: 16px;
    font-family: sofiapro-light, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
}


#navigation-container {
    z-index: 1;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    padding: 0.5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    margin: 0 auto;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}

.navigation-bar {
    overflow: hidden;

    height: 100px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.navigation-bar img {
    float: left;
    margin-top: 20px;
}

@media screen and (max-width: 700px) {
    .navigation-bar img {
        display: none;
        margin-top: 20px;
    }

    .navigation-bar {
        margin-bottom: 50px;
    }
}

.navigation-bar ul {
    /* padding-right: 15rem; */
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
}

.navigation-bar li {
    display: inline-block;
    position: relative;
    color: #000000;
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.navigation-bar li::after {
    text-decoration: none;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: 60px;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navigation-bar li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navigation-bar li a.active {
    padding-bottom: 18px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.navigation-bar li a {
    color: black;
    font-size: 15px;
    font-family: sofiapro-light, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 10px;
    opacity: 0.7;
}

#menu {
    float: right;
}

* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
}


* {
    margin: 0px;
    padding: 0px;
}


/* animation landing page */
/*resource: https://codepen.io/nicostar26/pen/JaOQob */

.container {
    max-width: 960px;
    margin: auto;

}

#showcase {
    height: 300px;
}

#showcase h1 {
    font-size: 50px;
    line-height: 0.3;
    position: relative;
    animation: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    padding-top: 0%;
}

@keyframes heading {
    0% {
        top: -50px;
    }

    100% {
        top: 100px;
    }
}

#content {
    position: relative;
    animation-name: content;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes content {
    0% {
        left: -1000px;
        top: -100px;
    }

    100% {
        left: 0px;
        top: -100px;
    }
}

.btn {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 1rem 2rem;
    border: white 1px solid;
    border-radius: 30%;
    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 1s;
}

.btn:hover {
    transform: rotateY(360deg);
}

@keyframes btn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* https://uiverse.io/portseif/popular-octopus-83 */
.name_btn {
    align-items: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
}

.name_btn:before {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25, .8, .25, 1);
    width: 0;
}

.name_btn:hover:before {
    background-color: #fff;
    width: 3rem;
}

/* card */
.card-container {
    max-width: 500px;
    padding: 20px;
    align-content: center;
    display: flex;
    margin: auto;
}

.card {
    width: 190px;
    height: 274px;
    background: white;
    padding: .4em;
    border-radius: 6px;
    margin: auto
}

.card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
}

.card-image img {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
    object-position: 0% 0%;
}



.card-image:hover {
    transform: scale(0.98);
}

.category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
}

.category:hover {
    cursor: pointer;
}

.heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
}

.heading:hover {
    cursor: pointer;
}

.author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
}

.name {
    font-weight: 600;
}

.name:hover {
    cursor: pointer;
}



.section-home {
    margin: auto;
    padding-bottom: 100px;
}


.section-home p {
    text-align: left;
    margin: 30px;
}

.section-home h4 {
    text-align: left;
    margin: 30px;
}

.story-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    text-align: left;
    margin: auto;
    width: 90%;

}

.story-container1 {
    display: flex;
    gap: 20px;
    text-align: left;
    margin: auto;
    width: 90%;
    margin-bottom: 20px;
}

.story-container1 .story-box img {
    width: 100;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.story-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: auto;
}